name: Auto Review

on:
  pull_request_target:
    branches:
      - master
    types:
      - ready_for_review
      - opened

jobs:
  start-review:
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    env:
      PR_NUM: ${{ github.event.pull_request.number }}
      BASE_SHA: ${{ github.event.pull_request.base.sha }}
      PR_TITLE: ${{ github.event.pull_request.title }}
    steps:
      # It checkout the origin repository not pull request. Very safe
      - uses: actions/checkout@v2
      - name: Pre setup
        run: |
          git fetch origin pull/$PR_NUM/head:THE_PR
          echo $BASE_SHA

          git rev-list --count "$BASE_SHA..THE_PR" > tmp/count
          cat tmp/count
          git --no-pager diff "$BASE_SHA..THE_PR" --no-color --output tmp/change-diff
          git --no-pager diff "$BASE_SHA..THE_PR" --name-only --output tmp/name-changed

      - run: node .script/check-pr.js
        env:
          GH_TOKEN: ${{ github.token }}
          RW_TOKEN: ${{ secrets.MAMOEBOT_TOKEN }}
          ACTOR: ${{ github.event.pull_request.user.login }}
          REPO_N: ${{ github.event.repository.full_name }}

